POCs/DCFIntrepidPoC/DominatorDCF/Dominator Solution/Dominator.Tools/Service References/AutomaticUpdateService/CommandCenterSrvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://alienware.com/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://alienware.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://alienware.com/webservices">
      <s:element name="IsThereAnyUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currentVersionInfo" type="tns:VersionData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VersionData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarketingName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VersionNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PriorityLevel" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsThereAnyUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsThereAnyUpdateResult" type="tns:LatestVersionData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LatestVersionData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HttpVersionLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReleaseNotes" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarketingName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VersionNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OSName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PriorityLevel" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="210000000" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsThereAnyUpdatebyPlatform">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currentVersionInfo" type="tns:VersionPlatformData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VersionPlatformData">
        <s:complexContent mixed="false">
          <s:extension base="tns:VersionData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Culture" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OSName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="IsThereAnyUpdatebyPlatformResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsThereAnyUpdatebyPlatformResult" type="tns:LatestVersionData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAWCCUsageTrackingEnabled">
        <s:complexType />
      </s:element>
      <s:element name="IsAWCCUsageTrackingEnabledResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAWCCUsageTrackingEnabledResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetThirdPartyPartners">
        <s:complexType />
      </s:element>
      <s:element name="GetThirdPartyPartnersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetThirdPartyPartnersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsThereAnyUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:IsThereAnyUpdate" />
  </wsdl:message>
  <wsdl:message name="IsThereAnyUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:IsThereAnyUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IsThereAnyUpdatebyPlatformSoapIn">
    <wsdl:part name="parameters" element="tns:IsThereAnyUpdatebyPlatform" />
  </wsdl:message>
  <wsdl:message name="IsThereAnyUpdatebyPlatformSoapOut">
    <wsdl:part name="parameters" element="tns:IsThereAnyUpdatebyPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="IsAWCCUsageTrackingEnabledSoapIn">
    <wsdl:part name="parameters" element="tns:IsAWCCUsageTrackingEnabled" />
  </wsdl:message>
  <wsdl:message name="IsAWCCUsageTrackingEnabledSoapOut">
    <wsdl:part name="parameters" element="tns:IsAWCCUsageTrackingEnabledResponse" />
  </wsdl:message>
  <wsdl:message name="GetThirdPartyPartnersSoapIn">
    <wsdl:part name="parameters" element="tns:GetThirdPartyPartners" />
  </wsdl:message>
  <wsdl:message name="GetThirdPartyPartnersSoapOut">
    <wsdl:part name="parameters" element="tns:GetThirdPartyPartnersResponse" />
  </wsdl:message>
  <wsdl:message name="IsAWCCUsageTrackingEnabledHttpGetIn" />
  <wsdl:message name="IsAWCCUsageTrackingEnabledHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetThirdPartyPartnersHttpGetIn" />
  <wsdl:message name="GetThirdPartyPartnersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsAWCCUsageTrackingEnabledHttpPostIn" />
  <wsdl:message name="IsAWCCUsageTrackingEnabledHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetThirdPartyPartnersHttpPostIn" />
  <wsdl:message name="GetThirdPartyPartnersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CommandCenterServiceSoap">
    <wsdl:operation name="IsThereAnyUpdate">
      <wsdl:input message="tns:IsThereAnyUpdateSoapIn" />
      <wsdl:output message="tns:IsThereAnyUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsThereAnyUpdatebyPlatform">
      <wsdl:input message="tns:IsThereAnyUpdatebyPlatformSoapIn" />
      <wsdl:output message="tns:IsThereAnyUpdatebyPlatformSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAWCCUsageTrackingEnabled">
      <wsdl:input message="tns:IsAWCCUsageTrackingEnabledSoapIn" />
      <wsdl:output message="tns:IsAWCCUsageTrackingEnabledSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThirdPartyPartners">
      <wsdl:input message="tns:GetThirdPartyPartnersSoapIn" />
      <wsdl:output message="tns:GetThirdPartyPartnersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CommandCenterServiceHttpGet">
    <wsdl:operation name="IsAWCCUsageTrackingEnabled">
      <wsdl:input message="tns:IsAWCCUsageTrackingEnabledHttpGetIn" />
      <wsdl:output message="tns:IsAWCCUsageTrackingEnabledHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThirdPartyPartners">
      <wsdl:input message="tns:GetThirdPartyPartnersHttpGetIn" />
      <wsdl:output message="tns:GetThirdPartyPartnersHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CommandCenterServiceHttpPost">
    <wsdl:operation name="IsAWCCUsageTrackingEnabled">
      <wsdl:input message="tns:IsAWCCUsageTrackingEnabledHttpPostIn" />
      <wsdl:output message="tns:IsAWCCUsageTrackingEnabledHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThirdPartyPartners">
      <wsdl:input message="tns:GetThirdPartyPartnersHttpPostIn" />
      <wsdl:output message="tns:GetThirdPartyPartnersHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommandCenterServiceSoap" type="tns:CommandCenterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsThereAnyUpdate">
      <soap:operation soapAction="http://alienware.com/webservices/IsThereAnyUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsThereAnyUpdatebyPlatform">
      <soap:operation soapAction="http://alienware.com/webservices/IsThereAnyUpdatebyPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAWCCUsageTrackingEnabled">
      <soap:operation soapAction="http://alienware.com/webservices/IsAWCCUsageTrackingEnabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThirdPartyPartners">
      <soap:operation soapAction="http://alienware.com/webservices/GetThirdPartyPartners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommandCenterServiceSoap12" type="tns:CommandCenterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsThereAnyUpdate">
      <soap12:operation soapAction="http://alienware.com/webservices/IsThereAnyUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsThereAnyUpdatebyPlatform">
      <soap12:operation soapAction="http://alienware.com/webservices/IsThereAnyUpdatebyPlatform" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAWCCUsageTrackingEnabled">
      <soap12:operation soapAction="http://alienware.com/webservices/IsAWCCUsageTrackingEnabled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThirdPartyPartners">
      <soap12:operation soapAction="http://alienware.com/webservices/GetThirdPartyPartners" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommandCenterServiceHttpGet" type="tns:CommandCenterServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="IsAWCCUsageTrackingEnabled">
      <http:operation location="/IsAWCCUsageTrackingEnabled" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThirdPartyPartners">
      <http:operation location="/GetThirdPartyPartners" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommandCenterServiceHttpPost" type="tns:CommandCenterServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="IsAWCCUsageTrackingEnabled">
      <http:operation location="/IsAWCCUsageTrackingEnabled" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThirdPartyPartners">
      <http:operation location="/GetThirdPartyPartners" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommandCenterService">
    <wsdl:port name="CommandCenterServiceSoap" binding="tns:CommandCenterServiceSoap">
      <soap:address location="http://support.alienware.com/CommandCenter/CommandCenterSrvc.asmx" />
    </wsdl:port>
    <wsdl:port name="CommandCenterServiceSoap12" binding="tns:CommandCenterServiceSoap12">
      <soap12:address location="http://support.alienware.com/CommandCenter/CommandCenterSrvc.asmx" />
    </wsdl:port>
    <wsdl:port name="CommandCenterServiceHttpGet" binding="tns:CommandCenterServiceHttpGet">
      <http:address location="http://support.alienware.com/CommandCenter/CommandCenterSrvc.asmx" />
    </wsdl:port>
    <wsdl:port name="CommandCenterServiceHttpPost" binding="tns:CommandCenterServiceHttpPost">
      <http:address location="http://support.alienware.com/CommandCenter/CommandCenterSrvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>